body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    color: #4f4f4f;
}

section.imageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 5px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

section.inputContainer {
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.5rem;
}

input{
    display: flex;
    border: none;
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 100%;
}

button.generate{
    display: flex;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background-color: #eb5607;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
    width: 10rem;
    transition: background-color 0.3s ease-in-out;
}

button.generate:hover{
    background-color: #ff0000;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

section.imageContainer.loading::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 4px solid #3636ff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
